html, body{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #071e26;
}

.banner_img{
    background-color: grey;
    background-image: url(../images/mobile-banner.gif);
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    height: 60%;
}

h1 {
    margin: 0;
    text-align: center;
}

h2 {
    margin: 0;
    text-align: center;
}

footer {
    background-color: #575757;
    margin-top: 10%;
    color: rgba(179,179,177,255);
    padding: 10px 0 5px 15px;
}

.long-text{
    margin: 10px 10px 10px 10px;
    font-family: proxima-nova,sans-serif;
    color: white;
    font-weight: normal;
}

.title_box {
    width: 100%;
    height: 50px;
    margin: -28% 0 0 0;
    background-color: #040f13;
}

.vert_align{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logo{
    margin: 10px auto;
    height: 100px;
    width: 100px;
    background-image: url(../images/logo-white.png);
    background-size:contain;
    background-repeat:no-repeat;
}

#alt-logo{
    margin: -50px auto 10px;
}

.burger-container{
    width: 100%;
    height: 70px;
}

.burger-menu{
    margin: 10px 10px 0 0;
    height: 50px;
    width: 50px;
    float: right;
}

.burger-icon{
    height: 50px;
}

.album-img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: brown;
    background-image: url(../images/album.png);
    background-size:contain;
    background-repeat:no-repeat;
}

#music-h1{
    margin:-10px auto 0;
}

.members-image{
    margin: 10px;
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    background-size: cover;
    background-repeat:no-repeat;
}

.justify{
    text-align: justify;
}

.justify:after{
    content:"";
    display: inline-block;
    width: 100%;
    height: 0;
}

.center{
    text-align: center;
}

.pusher{
    margin-left: 35%;
    height: 10%;
}

input{
    margin-top: 10px;
}

/*hide the inputs/checkmarks and submenu*/
.nav-input, ul.submenu {
    display: none;
}
  
  /*position the label*/
  .nav-label {
    position: relative;
    display: block;
    cursor: pointer;
    z-index: 200;
  }
  
  /*show the submenu when input is checked*/
  input:checked~ul.submenu {
    display: block;
  }

  .nav-item{
    list-style-type: none;
    padding: 20px 0 20px 20px;
    margin: 5px 0 5px 5px;
    background-color: black;
  }

  .nav-item > a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bolder;
  }
/*fixed position here sticks the dropdown menu to the screen, but won't stick the menu icon,
as its position is relative. This is an issue if the dropdown is opened and the user then
attempts to scroll down*/
  .submenu{
    padding: 0px;
    margin: -70px -100px 0;
    background-color:#0b2d39;
    height: 100vh;
    position: fixed;
    width: 200px;
    z-index: 100;
  }

  @font-face{
    font-family: RocknRollRegular;
    src:url(../fonts/RocknRollRegular.ttf);
    font-style: normal;
    font-weight: 100;
  }

  .title-font{
    font-family: RocknRollRegular;
    color: white;
    font-weight: 200;
    font-size: xxx-large;
  }

  .subheading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
  }

  .fb-logo{
    height: 40px;
    width: 40px;
  }