/*----------------- DIRECTLY TARGETED ELEMENTS -----------------*/

html, body{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #071e26;
}

h1 {
    margin: 0;
    text-align: center;
}

h2 {
    margin: 0;
    text-align: center;
}

footer {
    background-color: #575757;
    margin-top: 10%;
    color: rgba(179,179,177,255);
    padding: 10px 0 5px 15px;
}

input{
    margin-top: 10px;
}

/*----------------- IDS -----------------*/

#alt-logo{
    margin: -50px auto 10px;
}

#music-h1{
    margin:-10px auto 0;
    background-color: white;
    color: black;
}

#survey-h1{
    margin:-10px auto 0;
    background-color: white;
    color: black;
    line-height: 30px;
    padding-bottom: 10px;
}

/*----------------- CLASSES -----------------*/

.banner_img{
    background-color: grey;
    background-image: url(../images/mobile-banner.gif);
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    height: 60%;
}

.long-text{
    margin: 10px 10px 10px 10px;
    font-family: proxima-nova,sans-serif;
    color: white;
    font-weight: normal;
    font-size: 20px;
}

.title_box {
    width: 100%;
    height: 50px;
    margin: -28% 0 0 0;
    background-color: #040f13;
}

.vert_align{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logo{
    margin: 10px auto;
    height: 100px;
    width: 100px;
    background-image: url(../images/logo-white.png);
    background-size:contain;
    background-repeat:no-repeat;
}

.burger-container{
    width: 100%;
    height: 70px;
}

.burger-menu{
    margin: 10px 10px 0 0;
    height: 50px;
    width: 50px;
    float: right;
}

.burger-icon{
    height: 50px;
}

.album-img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: brown;
    background-image: url(../images/album.png);
    background-size:contain;
    background-repeat:no-repeat;
}

.members-image{
    margin: 10px;
    height: 100px;
    width: 100px;
    background-color: black;
    display: inline-block;
}

.members-image-style{
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.justify{
    text-align: justify;
}

.justify:after{
    content:"";
    display: inline-block;
    width: 100%;
    height: 0;
}

.center{
    text-align: center;
}

.pusher{
    margin-left: 35%;
    height: 10%;
}

/*hide the inputs/checkmarks and submenu*/
.nav-input, ul.submenu {
    display: none;
}
  
  /*position the label*/
  .nav-label {
    position: relative;
    display: block;
    cursor: pointer;
    z-index: 200;
  }
  
  /*show the submenu when input is checked*/
  input:checked~ul.submenu {
    display: block;
  }

  .nav-item{
    list-style-type: none;
    padding: 20px 0 20px 20px;
    margin: 5px 0 5px 5px;
    background-color: black;
  }

  .nav-item > a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bolder;
  }

/*fixed position here sticks the dropdown menu to the screen, but won't stick the menu icon,
as its position is relative. This is an issue if the dropdown is opened and the user then
attempts to scroll down, and I don't currently know how to dix it*/
  
.submenu{
    padding: 0px;
    margin: -70px -100px 0;
    background-color:#0b2d39;
    height: 100vh;
    position: fixed;
    width: 200px;
    z-index: 100;
  }

  @font-face{
    font-family: RocknRollRegular;
    src:url(../fonts/RocknRollRegular.ttf);
    font-style: normal;
    font-weight: 100;
  }

  .title-font{
    font-family: RocknRollRegular;
    color: white;
    font-weight: 200;
    font-size: xxx-large;
  }

  .subheading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
  }

  .fb-logo{
    height: 40px;
    width: 40px;
  }

.footer-pusher{
    margin: 100%;  /*note that while this class is never directly used in any HTML pages, it appears in the JavaScript file*/
}

.nav-pusher{
    height: 10%;
    list-style-type: none;
}

  /*----------------- MOBILE MEDIA QUERIES -----------------*/
  @media (max-width: 767px) {

    .large-nav-item{
        display: none;
    }

    .large-nav{
        display: none;
    }
  }

  /*----------------- TABLET MEDIA QUERIES -----------------*/

@media (min-width: 768px) {
    .title_box {
        width: 100%;
        height: 80px;
        margin: -15% 0 0 0;
        background-color: #040f13;
        font-size: 100px;
        padding-bottom: 10px;
    }

    .title-font{
        font-family: RocknRollRegular;
        color: white;
        font-weight: 200;
        font-size: 100px;
      }

      .long-text{
        margin: 10px 10px 10px 10px;
        font-family: proxima-nova,sans-serif;
        color: white;
        font-weight: normal;
        font-size: 40px;
        padding: 0 10px 0 10px;
    }

    h2 {
        margin: 0;
        text-align: center;
        font-size: 50px;
    }

    #survey-h1{
        margin:-10px auto 0;
        background-color: white;
        color: black;
        line-height: 55px;
        padding-bottom: 10px;
    }

    input[type="submit"]{
        font-size: 40px;
    }

    footer {
        background-color: #575757;
        margin-top: 10%;
        color: rgba(179,179,177,255);
        padding: 10px 0 5px 15px;
        font-size: 25px;
    }

    .burger-menu{
        display: none;
    }

    .nav-item{
        display: block;
    }

    .large-nav-item{
        display: inline-block;
        margin: 10px 15px 10px 15px;
        background-color: white;
        border: 5px solid white;
    }

    .large-nav-item > a{
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: black;
        font-weight: bolder;
        font-size: 30px;
    }

    .large-nav{
        display: block;
        background-color: #040f13;
        text-align: center;
        padding: 10px 0 10px
    }

    .burger-container{
        display: none;
    }

    .members-image{
        margin: 10px;
        height: 250px;
        width: 250px;
        background-color: black;
        display: inline-block;
    }

    form{
        margin:30px 0;
    }

    input[type="text"]{
        width: 700px;
    }

    input[type="email"]{
        width: 700px;
    }

    input[type="number"]{
        width: 700px;
    }
}

/*----------------- DESKTOP MEDIA QUERIES -----------------*/

@media (min-width: 992px) {
    .wrapper {
        padding: 0 20%;
    }
    
    .long-text{
        font-size: 25px;
    }

    .banner_img{
        height: 60%;
        width: 100%;
        background-image: url(../images/desktop-banner.png);
        background-color: #071e26;
    }

    .title_box {
        margin: -8% 0 0 0;
    }

    .album-img{
        width: 700px;
        height: 700px;
        margin: 0 auto;
    }

    .logo{
        height: 200px;
        width: 200px;
    }

    footer{
        margin-top: 5%;
    }

    .justify{
        text-align: center;
    }

}

/*----------------- LARGE DESKTOP MEDIA QUERIES -----------------*/

@media (min-width: 1500px) {
    .title_box {
        margin: -6% 0 0 0;
    }

}