html, body{
    height: 100%;
    width: 100%;
    margin: 0%;
}

.banner_img{
    background-color: grey;
    width: 100%;
    height: 60%;
}

h1 {
    margin: 0;
    text-align: center;
}

h2 {
    margin: 0;
    text-align: center;
}

footer {
    width: 100%;
    height: 15%;
    background-color: blueviolet;
}

.long-text{
    margin: 10px 10px 10px 10px;
}

.title_box {
    width: 100%;
    height: 50px;
    margin: -28% 0 0 0;
    background-color: darkslategrey;
}

.vert_align{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logo{
    margin: 10px auto;
    height: 100px;
    width: 100px;
    background-color: blue;
}

#alt-logo{
    margin: -50px auto 10px;
}

.burger-container{
    width: 100%;
    height: 70px;
}

.burger-menu{
    margin: 10px 10px 0 0;
    height: 50px;
    width: 50px;
    background-color: aqua;
    float: right;
}

.album-img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: brown;
}

#music-h1{
    margin:-10px auto 0;
}